<html>
    
    <head>
        
        <!-- JQUERY -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        
        <!-- NEXT THREE ARE BOOTSTRAP -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        
        
        <link href="style.css" type="text/css" rel="stylesheet" />
        
        
        <script>
            $(document).ready(function(e) {
                
                $(".delete").click(function() {
                    
                    var poll_id = $(this)[0].dataset.internalid;
                    
                    var data = 
                        {
                            delete_poll: "yes",
                            poll_id: poll_id
                        }
                    
                    $.get("/updatepoll", data, function(data) {
                        
                        if (data === "Success") {
                            window.location.href = "/user";
                        } 
                    }); //End .get
                    
                }); //End delete click
                
                
                
                
                
                
            }); //End whole document
            
            
        </script>
        
        
    </head>
    
     
    <body>
        
        <div class="container-fluid">
        
            
            
            <div class="header">
               
               <div class="title col-md-6">
               <h1 class="text-center">Free Code Camp Voting App</h1>
               </div>
               
               
               
               <div class="menubar col-md-6">
                   
                   <% if (auth === "yes") { %>
                   <ul class="nav nav-pills usernav">
                       <li role="presentation"> <a href="/">Home</a></li>
                       <li role="presentation"><a href="/user">Profile</a></li>
                       <li role="presentation"><a href="/newpoll">New Poll</a></li>
                       <li role="presentation"><a href="/logout">Logout</a></li>
                   </ul>
                  <% } else { %>

                   <ul class="nav nav-pills usernav">
                       <li role="presentation"> <a href="/">Home</a></li>
                       <li role="presentation"><a href="/login/twitter">Login</a></li>
                   </ul>
                 <% } %>
                   
               </div> <!-- end menubar -->
               
               
            </div> <!-- end header -->
        
        
            <div class="main col-md-8 col-md-offset-2">
                <h3 class="text-center">Polls Created:</h3><br />
                

                <% for (var i in mypolls) { %>
                

                    
                  <div class="row">
                      
                      <div class="plist col-md-10">
                            <a href="/poll/<%= mypolls[i][0] %>">
                                <h4 class="text-center"><%= mypolls[i][1] %></h4> 
                            </a>
                      </div>
                      
                      
                      <div class="col-md-2 userdel">
                      <button type="button" class="btn btn-danger delete" data-internalid="<%= mypolls[i][0] %>">Delete</button>
                      </div>
                      
                  </div> <!-- end row -->
                    
                    
                
                
                
               <% } %>


            </div>
        
        
        </div> <!-- end fluid container -->
    </body>


</html>