body {


}

.header {
    border: solid;
    margin: 25px;
}

.main {
    border: solid;
    margin: 25px;
}

.plist {
    border: solid;
    margin: 10px;
}

.delete_button {
    border: solid;
}


.vote {
    margin-bottom: 15px;
}


.result {
    border-left: solid;
    margin-bottom: 15px;
}